body{
    background-color: #897e93;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.background{
    background-color:white;!important;
    height: 1905px;

}
.image1{
    margin-top: 12%;
    margin-left: 5%;
}
.image2{
    position: absolute;
    margin-top: 12%;
    right: 3%;


}
.image3{
margin-top: 10%;
}
.image4{
    margin-top: 2%;
    margin-left: 5%;
}
.image5{
    margin-top: 2%;

}
.image6{
    position: absolute;
    margin-top:2%;
    right: 12%;
}
.image7{
    margin-top: 2%;
    margin-left: 2%;
}
.image8{
    position: absolute;
    left:20%;
    margin-top: 2%;
    margin-left: 2%;
}
.image9{
    position: absolute;
    left:37%;
     margin-top: 2%;
     margin-left: 2%;
 }
.image10{
    position: absolute;
    left:69%;
    margin-top: 2%;
    margin-left: 2%;
}
.bar{
    position: absolute;
    left:3%;
    margin-top: 4%;
    margin-left: 2%;
}
.trends{
    position: absolute;
    left:3%;
    margin-top: 20%;
    margin-left: 2%;
}
.spons{
    position: absolute;
    left:7%;
    margin-top: 65%;
    margin-left: 2%;
}
.footer{
    position: absolute;

    margin-top: 74%;
}